
@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Aktif Rezervasyonlarım</h2>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Lokasyon</th>
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ReservationID</td>
            <td>@x.Destination.City</td>
            <td>@x.PersonCount</td>
            <td>@x.ReservationDate</td>
            <td>@x.Status</td>
        </tr>
    }
</table>