@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rotasyon Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Rota</th>
        <th>Gün Bilgisi</th>
        <th>Fiyat</th>
        <th>Açıklama</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.DestinationID</td>
            <td>@x.City</td>
            <td>@x.DayNight</td>
            <td>@x.Price</td>
            <td>@x.DestinationID</td>
            <td>@x.Capacity</td>
            <td><a href="/Destination/DestinationDetails/@x.DestinationID/" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestination/@x.DestinationID/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestination/@x.DestinationID" class="btn btn-outline-warning">Güncelle</a></td>

        </tr>

    }
</table>
<a href="/Admin/Destination/AddDestination/" class="btn btn-outline-primary">Yeni Rota Ekle</a>